@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wdth,wght@75..125,100..900&display=swap");

:root {
  --color-primery-1: #fafafa;
  --color-primery-2: #e0e0e0;
  --color-primery-3: #252525;
  --color-primery-4: #1c1c1c;
  --color-primery-5: #474747;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Encode Sans", sans-serif;
  background: var(--color-primery-4);
  letter-spacing: 0.1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  button {
    font-size: 2.4rem;
    font-weight: 400;
    padding: 1.6rem 3.2rem;
    color: var(--color-primery-2);
    background: var(--color-primery-3);
    border-radius: 1.6rem;
    cursor: pointer;
    border: none;
  }
}

.modal {
  min-width: 50rem;
  max-width: 90rem;
  min-height: 30rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1.6rem;
  z-index: 2;
  background: var(--color-primery-3);
  display: none;

  &.active {
    display: block;
  }

  .modal-header {
    display: flex;
    align-items: center;
    border-radius: 1.6rem 1.6rem 0 0;
    justify-content: space-between;
    background: var(--color-primery-4);
    border-bottom: 0.2rem solid var(--color-primery-5);
    padding: 0.8rem 1.2rem;

    h2 {
      font-size: 2.4rem;
      font-weight: 600;
      color: var(--color-primery-1);
    }

    button {
      border: none;
      cursor: pointer;
      background: none;
      svg {
        width: 4rem;
        fill: var(--color-primery-5);
      }
    }
  }

  .modal-body {
    color: var(--color-primery-2);
    font-size: 2rem;
    font-weight: 300;
    line-height: 150%;
    padding: 1.6rem 2.4rem;
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primery-5);
  opacity: 50%;

  &.active {
    display: block;
  }
}

@media (max-width: 860px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 660px) {
  html {
    font-size: 44%;
  }
}

@media (max-width: 460px) {
  html {
    font-size: 38%;
  }
}
