/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 40 / 48 / 64 / 80 / 96 / 128
*/

@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wdth,wght@75..125,100..900&display=swap");

:root {
  --main-color: #343a40;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Encode Sans", sans-serif;
  letter-spacing: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 1.6rem;
  margin: 0 2.4rem;
}

.bg-back {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: var(--main-color);
  opacity: 50%;
  z-index: -1;
}

.theme-colors {
  background: rgba(255, 255, 255, 0.5);
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  gap: 1.6rem;

  .color {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    cursor: pointer;
  }
}

.content-box {
  background: rgba(255, 255, 255, 0.5);
  max-width: 50rem;
  min-height: 66rem;
  padding: 1.6rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;

  h1 {
    font-size: 3.6rem;
    text-align: center;
    color: #333;
  }

  .squares {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
  }

  .square {
    width: 8.6rem;
    height: 8.6rem;
    border-radius: 1rem;
    background: var(--main-color);
  }

  p {
    font-size: 2rem;
    color: #333;
    text-align: center;
  }

  a {
    font-size: 2.4rem;
    color: #fff;
    border-radius: 4rem;
    padding: 1.6rem 4.8rem;
    background: var(--main-color);
  }
}

@media (max-width: 660px) {
  html {
    font-size: 56%;
  }
}

@media (max-width: 560px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 460px) {
  html {
    font-size: 44%;
  }
}
