* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100dvh;
  width: 100%;
}

a {
  &:any-link {
    margin-bottom: 10rem;
    background: rgba(34, 34, 34, 0.8);
    color: #fff;
    font-size: 3rem;
    padding: 1.6rem 3.2rem;
    border-radius: 5rem;
  }
}
