* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  background: #ffb4c2;
}

.gallery-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  display: none;
  background: #ffb4c2;
}

button {
  position: absolute;
  top: 0;
  right: 1.6rem;
  font-size: 6.2rem;
  color: #252525;
  background: none;
  border: none;
  cursor: pointer;
}

.full-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80dvw;
  height: 95dvh;
  object-fit: contain;
}

.open-full-image {
  display: block;
}

@media (max-width: 900px) {
  .full-image {
    width: 95dvw;
    height: 80dvh;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 46%;
  }
}
